@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Unbounded", sans-serif;
}

header {
    width: 100vw;
    height: 100vh;
    background: url(header_bg.webp);
    background-size: cover;
    display: flex;
}