@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Unbounded", sans-serif;
    background-color: black;
}

header {
    background-color: #D9D9D9;
}

.cards_line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    background-color: #D9D9D9;
    color: black
}

.star {
    width: 10%;
}

footer {
    background-color: #D9D9D9;
}

.review {
    background-color: #D9D9D9;
}